@charset "UTF-8";
:root {
  --title-text-color: #212121;
  --primary-font:"Roboto",sans-serif;
  --transition-dur-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --first-backgroungcolor: #FFFF;
  --secondary-background: #2F303A;
}

.viality-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.footer-list__link, .clients-link, .social-list-link, .modal-cls-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.body-font {
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

address {
  font-size: normal;
}

button {
  cursor: pointer;
}

.size-section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .size-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.size-section2 {
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .size-section2 {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .size-section2 {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section2 {
    display: flex;
    justify-content: space-between;
  }
  .section2:not(:last-child) {
    margin-left: 30px;
  }
}
@media screen and (max-width: 1199px) {
  .size-section2 {
    display: none;
  }
}
.size-section3 {
  background-color: #F5F4FA;
  padding-bottom: 60px;
  padding-top: 60px;
}

.size-section4 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    max-height: 796px;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: border-color var(--transition-dur-func);
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .mobile-menu__close {
    position: absolute;
    top: 16px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__item {
    margin-bottom: 302px;
  }
  .mobile-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #212121;
  }
  .mobile-menu__link:focus {
    color: #2196F3;
  }
  .mobile-menu-address__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu-address__item {
    margin-bottom: 32px;
  }
  .mobile-menu-address__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mobile-menu-address__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: #757575;
  }
  .mobile-menu-footer {
    display: flex;
  }
  .mobile-menu-footer__item:not(:first-child) {
    margin-left: 10px;
  }
  .mobile-menu-footer__item:not(:last-child) {
    padding-right: 10px;
    border-right: solid 1px;
    border-color: rgba(33, 33, 33, 0.2);
  }
  .mobile-menu-footer__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
.m-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  font-family: var(--primary-font);
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: white;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  margin-top: 40px;
  border-radius: 4px;
  transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
}
.m-button:hover, .m-button.primary:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.menu-portfolio__button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: 0px;
  border-radius: 4px;
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  transition: background-color var(--transition-dur-func), color var(--transition-dur-func), box-shadow var(--transition-dur-func);
}
.menu-portfolio__button:hover, .menu-portfolio__button:focus {
  background-color: #188ce8;
  color: white;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.modal-cls-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0;
}

.modal-close-button-icon {
  transition: fill var(--transition-dur-func);
}
.modal-cls-button:hover .modal-close-button-icon, .modal-cls-button:focus .modal-close-button-icon {
  fill: rgb(33, 150, 243);
}

.modal-window-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-form-title {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  text-align: left;
  color: #757575;
  margin-bottom: 4px;
}

.skills-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .skills-title {
    text-align: center;
  }
}
.section-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 36px;
  }
}
.footer-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  Font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.poster-list__title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}
.modal-form-input:focus {
  outline: none;
  border-color: rgb(33, 150, 243);
  transition: border-color var(--transition-dur-func);
}

.modal-form-input-wraper {
  display: block;
  position: relative;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: rgb(33, 150, 243);
  transition: fill var(--transition-dur-func);
}

.modal-form-message {
  font-size: 12px;
  outline: none;
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  border-color: rgba(33, 33, 33, 0.2);
}
.modal-form-message:focus {
  border-color: rgb(33, 150, 243);
  transition: border-color var(--transition-dur-func);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: rgba(117, 117, 117, 0.5);
}

.modal-from-check-desk {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: rgb(117, 117, 117);
  margin-bottom: 30px;
}
.modal-from-check-desk::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 1px solid;
  border-color: rgb(33, 33, 33);
  border-radius: 2px;
  cursor: pointer;
  margin-left: 12px;
  margin-right: 8px;
}

.modal-form-check:checked + .modal-from-check-desk::before {
  background-color: rgb(33, 150, 243);
  background-image: url(../images/icon\ check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: rgb(33, 150, 243);
}
.modal-form-check:checked + .modal-from-check-desk::before:focus + .modal-from-check-desk::before {
  outline: 2px solid rgba(0, 0, 250, 0.5);
}

.terms-agreement {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  color: rgb(33, 150, 243);
}

.modal-form-submit {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  font-family: var(--primary-font);
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: white;
  border: 0ch;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 52px;
  padding-bottom: 10px;
  padding-right: 52px;
  border-radius: 4px;
  transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
}
.modal-form-submit:hover, .modal-form-submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--first-backgroungcolor);
  border-radius: 4px;
  padding: 40px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-dur-func), visibility var(--transition-dur-func);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .menu-address {
    display: none;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.logo-accent {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .nav {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu-address {
    left: 0;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    color: var(--title-text-color);
  }
  .logo {
    margin-right: 93px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
  }
  .logo-accent {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #000000;
  }
  .menu__link_color {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 32px;
    padding-bottom: 36px;
  }
  .menu__link_color::after {
    position: absolute;
    opacity: 1;
    content: "";
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: rgb(33, 150, 243);
    transition: opacity var(--transition-dur-func);
  }
  .menu__link_color:hover::after {
    opacity: 1;
  }
  .menu__link_color {
    position: relative;
    color: rgb(33, 150, 243);
  }
  .menu-address__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color var(--transition-dur-func);
  }
  .menu-address__link:hover, .menu-address__link:focus {
    color: #2196F3;
  }
  .menu-address__icon {
    margin-right: 10px;
    fill: currentColor;
  }
  .tel-mail-header:hover .icon-mail-header .tel-mail-header:hover:focus .icon-mail-header {
    color: #2196F3;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .menu-address {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }
  .menu-address :not(:last-child) {
    margin-right: 30px;
  }
  .menu__link_color {
    padding-bottom: 32px;
  }
}
.background-hero-sizes {
  min-height: 400px;
  padding-top: 118px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/BG/hero-img.jpg);
  background-size: cover;
  background-color: var(--secondary-background);
}

.efect-solution {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .background-hero-sizes {
    background-image: url(../../images/BG/hero-img@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .background-hero-sizes {
    background-image: url(../../images/BG/hero-tablet-img.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .background-hero-sizes {
    background-image: url(../../images/BG/hero-tablet-img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .efect-solution {
    font-size: 44px;
    line-height: 1.36;
  }
  .background-hero-sizes {
    padding-top: 200px;
    min-height: 600px;
    background-image: url(../../images/BG/hero-desktop-img.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .background-hero-sizes {
    background-image: url(../../images/BG/hero-desktop-img@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do {
    position: relative;
  }
  .what-we-do-overlay {
    position: absolute;
    bottom: 0%;
    padding-top: 27px;
    padding-left: 95px;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
    font-size: 14px;
    line-height: 1.14;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
  }
}
.skills-sizes {
  width: 100%;
}
.skills-sizes::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  margin-top: 30px;
}

.icon-skills1::before {
  background-image: url(../images/advantages/antenna\ 1.svg);
}

.icon-skills2::before {
  background-image: url(../images/advantages/clock\ 1.svg);
}

.icon-skills3::before {
  background-image: url(../images/advantages/diagram\ 1.svg);
}

.icon-skills4::before {
  background-image: url(../images/advantages/astronaut\ 1.svg);
}

.skills-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .advantages-main-list {
    display: flex;
    flex-wrap: wrap;
  }
  .skills-sizes {
    width: 354px;
  }
  .icon-skills1 {
    margin-right: 30px;
  }
  .icon-skills3 {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-main-list {
    justify-content: space-between;
  }
  .skills-sizes {
    width: 270px;
    margin: auto;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section3-box {
  width: 100%;
  background-color: var(--first-backgroungcolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
}

.employee-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.employee-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

.employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  transition: background-color var(--transition-dur-func);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: #2196F3;
}

.social-list-icon {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-func);
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .employee-padding {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section3 {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  .section3-box {
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section3 {
    gap: 30px;
    display: flex;
    justify-content: space-between;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-link {
  height: 92px;
  border: #AFB1B8 1px solid;
  border-radius: 4px;
  background-color: #FFFFFF;
  transition: border-color var(--transition-dur-func);
}
.clients-link:hover, .clients-link:focus {
  border-color: #2196F3;
}

.clients-list-icon {
  fill: #AFB1B8;
  transition: fill var(--transition-dur-func);
}
.clients-link:hover .clients-list-icon, .clients-link:focus .clients-list-icon {
  fill: #2196F3;
}

@media screen and (max-width: 767px) {
  .clients-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    max-width: 1199px;
    /* макс ширина */
    margin: 0 auto;
    /* выровняем по центру */
  }
  .clients-item {
    flex: 1 1 calc(33.33% - 30px);
    /* отнимем margin и скажем растягиваться */
    margin: 5px;
    box-sizing: border-box;
    /* чтобы внутренний отступ не влиял когда там будет текст... */
    padding: 10px 10px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-link {
    width: 170px;
  }
}
.footer-pages {
  background-color: #2F303A;
}

.footer-logo {
  font-family: Raleway;
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.list__address {
  margin-top: 20px;
  font-family: var(--primary-font);
}

.list__item {
  margin-top: 9px;
  font-family: var(--primary-font);
}

.logo-accent2 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-list-address {
  color: #FFFFFF;
}

.list__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-pages__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer-add {
  margin-top: 75px;
}

.footer-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.footer-list {
  fill: #FFFFFF;
}
.footer-list__link:hover .footer-list, .footer-list__link:focus .footer-list {
  background-color: #2196F3;
}

.footer-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-func);
}
.footer-list__link:hover, .footer-list__link:focus {
  background-color: #2196F3;
}

.mailing-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 60px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  background-color: #2F303A;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__submit {
  gap: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  font-family: var(--primary-font);
  letter-spacing: 0.06em;
  background-color: #2196F3;
  color: white;
  border: 0ch;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  margin-top: 10px;
  border-radius: 4px;
  transition: background-color var(--transition-dur-func), box-shadow var(--transition-dur-func);
}
.footer-form__submit:hover, .footer-form__submit:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 767px) {
  .footer-pages {
    padding-bottom: 60px;
    height: 603px;
    text-align: center;
  }
  .footer-logo {
    margin-top: 0;
  }
  .footer-pages {
    padding-top: 60px;
  }
  .footer-add {
    margin-top: 60px;
  }
  .footer-title {
    padding-bottom: 20px;
  }
  .mailing-text {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-pages-logo-address {
    display: flex;
    justify-content: space-between;
  }
  .footer-pages {
    padding-bottom: 60px;
    height: 463px;
  }
  .footer-title {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .footer-mailing-form {
    text-align: center;
  }
  .mailing-text {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
  }
  .footer-pages-logo-address {
    display: flex;
    gap: 70px;
  }
  .footer-pages {
    padding-bottom: 60px;
    height: 252px;
  }
  .footer-title {
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .footer-form {
    display: flex;
    align-items: flex-end;
    gap: 12px;
  }
  .footer-mailing-form {
    margin-left: 93px;
  }
  .mailing-text {
    margin-top: 72px;
  }
  .footer-form__submit {
    display: flex;
  }
}
.header-portfolio {
  border-bottom: 1px solid #ECECEC;
}

.page-nav__link_color {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color var(--transition-dur-func);
  padding-top: 32px;
  padding-bottom: 32px;
}
.page-nav__link_color::after {
  position: absolute;
  opacity: 1;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(33, 150, 243);
  transition: opacity var(--transition-dur-func);
}
.page-nav__link_color:hover::after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .section-portfolio {
    padding-top: 60px;
  }
  .menu-portfolio {
    display: flex;
    gap: 8px;
    row-gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .poster-list__item {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .section-portfolio {
    padding-top: 60px;
  }
  .menu-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .poster-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    max-width: 1199px;
    /* макс ширина */
    margin: 0 auto;
    /* выровняем по центру */
  }
  .poster-list__item:not(:last-child) {
    flex: 1 1 calc(50% - 30px);
    /* отнимем margin и скажем растягиваться */
    margin: 5px;
    box-sizing: border-box;
    /* чтобы внутренний отступ не влиял когда там будет текст... */
    padding: 0px 0px;
  }
  .poster-item-boxes9 {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .poster-list__item {
    width: 370px;
  }
}
.menu-portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.poster-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-decoration: none;
}

.poster-item-boxes1:hover,
.poster-item-boxes1:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-item-boxes2:hover,
.poster-item-boxes2:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-item-boxes3:hover,
.poster-item-boxes3:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-item-boxes4:hover,
.poster-item-boxes4:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-item-boxes5:hover,
.poster-item-boxes5:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-item-boxes6:hover,
.poster-item-boxes6:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-item-boxes7:hover,
.poster-item-boxes7:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-item-boxes8:hover,
.poster-item-boxes8:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-item-boxes9:hover,
.poster-item-boxes9:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.poster-list__item {
  border: 1px solid #EEEEEE;
  transition: box-shadow var(--transition-dur-func);
}

.portfolio-text-padding {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.poster-list__description {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.poster-list__link {
  display: block;
  position: relative;
  text-decoration: none;
}
.poster-list__link:hover .overlay, .poster-list__link:focus .overlay {
  transform: translate(0, 0);
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  transform: translate(0, 100%);
  transition: transform var(--transition-dur-func);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.55;
  color: #FFFFFF;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;
}

.overlay-img {
  position: relative;
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */