.background-hero-sizes {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/background\ img.jpg);
    background-size: cover;
    background-color: var(--secondary-background);
}

