
@media screen and (max-width: 767px){

.section-portfolio {

    padding-top: 60px;
       
}
    .menu-portfolio {
    display: flex;
    gap: 8px;
    row-gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.poster-list__item {
    width: 450px;}
}


@media screen and (min-width: 768px) {

    .section-portfolio {

        padding-top: 60px;
       
    }

    .menu-portfolio {
        display: flex;
       
        justify-content: center;
        margin-bottom: 30px;
    }
       
 
}

@media screen and (min-width: 768px) and (max-width:1199px) {
.poster-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0px;
        // max-width: 1199px;
        /* макс ширина */
        margin: 0 auto;
        /* выровняем по центру */
    }

    .poster-list__item:not(:last-child) {
        
        flex: 1 1 calc(50% - 30px);
        // /* отнимем margin и скажем растягиваться */
        margin: 0.01px;
        // box-sizing: border-box;
        /* чтобы внутренний отступ не влиял когда там будет текст... */


        padding: 0px 0px;
    }
 .poster-item-boxes9 {
     width: 352px;
  
 }
   
}

@media screen and (min-width: 1200px){
.poster-list__item {
        width: 370px;
    }
}

// .menu-portfolio {
//     display: flex;
//     justify-content: center;
//     margin-bottom: 50px;
// }






.menu-portfolio__item:not(:last-child) {
    margin-right: 8px;
}



.poster-list{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    text-decoration: none;
}

.poster-item-boxes1:hover,
.poster-item-boxes1:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.poster-item-boxes2:hover,
.poster-item-boxes2:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.poster-item-boxes3:hover,
.poster-item-boxes3:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.poster-item-boxes4:hover,
.poster-item-boxes4:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.poster-item-boxes5:hover,
.poster-item-boxes5:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.poster-item-boxes6:hover,
.poster-item-boxes6:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.poster-item-boxes7:hover,
.poster-item-boxes7:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}


.poster-item-boxes8:hover,
.poster-item-boxes8:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.poster-item-boxes9:hover,
.poster-item-boxes9:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}



.poster-list__item {
  
    border: 1px solid #EEEEEE;
    transition: box-shadow var(--transition-dur-func);
}





.portfolio-text-padding {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    
}



.poster-list__description {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;

}

.poster-list__link {
    display: block;
    position: relative;
    text-decoration: none;
    &:hover .overlay,
    &:focus .overlay {
            transform: translate(0, 0);
        }
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-func);
    background-color: rgba(33, 150, 243, 0.9);
    font-size: 18px;
    line-height: 1.55;
    color: #FFFFFF;
    padding-top: 63px;
    padding-right: 24px;
    padding-bottom: 63px;
    padding-left: 24px;

}

.overlay-img {
    position: relative;
    overflow: hidden;
}



