.modal-window-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: #212121;
    margin-bottom: 12px;

}

.modal-form-title {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    text-align: left;
    color: #757575;
    margin-bottom: 4px;
}



.skills-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
    .skills-title {
        text-align: center;
    }
}

.section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
    .section-title{
        font-size: 36px;
    }
}

.footer-title {
    margin-bottom: 20px;
    text-transform: uppercase;

    Font-size: 14px;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.poster-list__title {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
   
  


}